.masthead {
  padding: 2rem 0;
}

.profile-img {
  width: 25%;
  border-radius: 50%;
}

.social-buttons {
  opacity: 75%;
}

.title-name {
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  font-weight: bold;
  margin: auto auto 2rem 1rem;
}

@media (min-width: 320px) {
  .title-name {
    padding: 0 0 0 1rem;
  }

  .social-buttons,
  .mast-content {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
}

@media (min-width: 768px) {
  .social-buttons,
  .mast-content {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
  }
}

.card-img-top {
  height: 310px;
}

.logo {
  max-height: 25rem;
}